[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = RyanTurnbull23
	email = 94379957+RyanTurnbull23@users.noreply.github.com
